#preloader {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  position: fixed;
  background: color(black);
  visibility: visible;
  z-index: 1500;
  transition: all .6s ease-in-out;

  &.hide-me{
    opacity: 0;
    visibility: hidden;
  }
  .spinner{
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    z-index: 2;
    border-radius: 2px;
    position: absolute;
    background-color: color(white);
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: translate(-50%,-50%) perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: translate(-50%,-50%) perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: translate(-50%,-50%) perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
