a, a:hover, a:focus {
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  position: relative;
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 40px;
}

h1 {
  font-weight: bold;
}

header {

  img {
    width: 100%;
    height: auto;
  }

  nav {
    width: 80%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;

    li {
      width: 33.33%;
      display: inline-block;
      float: left;
      text-align: center;

      &:first-child a,
      &:last-child a {
        border: 2px solid lighten(#ccc, 5%);
        border-radius: 8px;
      }

      &:first-child a {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }

      &:last-child a {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
      }

      a {
        padding: 14px;
        font-weight: bold;
        color: darken(#ccc, 20%);
        background: lighten(#ccc, 10%);
        display: block;
        border-top: 2px solid lighten(#ccc, 5%);
        border-bottom: 2px solid lighten(#ccc, 5%);

        &:hover,
        &.active {
          border: 2px solid lighten(#ccc, 5%);
        }
        &:hover {
          background: lighten(#ccc, 15%);
        }
        &.active {
          background: lighten(#ccc, 20%);

          &:hover {
            background: lighten(#ccc, 15%);
          }
        }
      }
    }
  }
}
