//** Deprecated `$screen-size`
$screen-xxs:             320px !default;
$screen-xs:              480px !default;
$screen-sm:              768px !default;
$screen-md:              992px !default;
$screen-lg:             1200px !default;
$screen-hg:             1600px !default;


//** Number of columns, font-size and padding in the grid.
$base-font-size:        14px;
$grid-columns:          12 !default;
$grid-gutter-width:     30px !default;
$grid-padding:          $grid-gutter-width/2; //15px


//== Container sizes
$container-fluid:       100% !default;
$container-md:          $screen-md !default;
$container-lg:          $screen-lg !default;
$container-hg:          $screen-hg !default;


// Container and row specyfication
.container{
  width: $container-fluid;
  margin: 0 auto;
  padding: 0 $grid-padding;
  position: relative;
  text-align: center;

  @media (min-width: $screen-md){
    width: $container-md;
  }
  @media (min-width: $screen-lg){
    width: $container-lg;
  }
  @media (min-width: $screen-hg){
    width: $container-hg;
  }
}
.row{
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;
  font-size: 0;
}
.col-inner{
  padding: $grid-padding;
}


// Grid mixins
@mixin make-grid-columns($i: 1, $align: top, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}, .col-hg-#{$i}") {
    @for $i from (1 + 1) through $grid-columns{
      $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}, .col-hg-#{$i}";
    }
    #{$list} {
      position: relative;
      font-size: $base-font-size;
      display: inline-block;
      vertical-align: $align;
      padding: 0 $grid-padding;
    }
}

@mixin make-columns-width($class){
  @for $i from 1 through $grid-columns{
    .col-#{$class}-#{$i}{
      width: percentage(($i / $grid-columns));
    }
  }
}

@mixin make-xs-column($class){
  @include make-columns-width($class);
}
@mixin make-sm-column($class){
  @media (min-width: $screen-sm) {
    @include make-columns-width($class);
  }
}
@mixin make-md-column($class){
  @media (min-width: $screen-md) {
    @include make-columns-width($class);
  }
}
@mixin make-lg-column($class){
  @media (min-width: $screen-lg) {
    @include make-columns-width($class);
  }
}
@mixin make-hg-column($class){
  @media (min-width: $screen-hg) {
    @include make-columns-width($class);
  }
}

// Call all grid mixin
@include make-grid-columns;
@include make-xs-column(xs);
@include make-sm-column(sm);
@include make-md-column(md);
@include make-lg-column(lg);
@include make-hg-column(hg);
