// Floats
// -------------------------
.clearfix {
  @include clearfix;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.align-right{
  text-align: right !important;
}
.align-left{
  text-align: left !important;
}
.align-center{
  text-align: center !important;
}


// Toggling content
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
