//** Deprecated `$screen-size`
$mobile:              768px !default;
$desktop:             1200px !default;


//** Number of columns, font-size and padding in the grid.
$grid-columns:             12 !default;

$font-size:                4.6vw;
$font-size-mobile:         1.31vw;
$font-size-desktop:        16px;

$gutter-width:             6vw !default;
$padding:                  $gutter-width/2; //3vw

$gutter-width-mobile:      2.6vw !default;
$padding-mobile:           $gutter-width-mobile/2; //.8vw

$gutter-width-desktop:     30px !default;
$padding-desktop:          $gutter-width-desktop/2; //15px


//== Container sizes
$container:            100% !default;
$container-mobile:     $container !default;
$container-desktop:    $desktop !default;


// Container and row specyfication
.container,
.container-fluid{
  width: $container;
  margin: 0 auto;
  position: relative;
  text-align: left;
  padding: 0 $padding;

  @media (min-width: $mobile) and (max-width: $desktop){
    width: $container-mobile;
    padding: 0 $padding-mobile;
  }
  @media (min-width: $desktop){
    width: $container-desktop;
    padding: 0 $padding-desktop;
  }
}

.container-fluid {
  width: $container !important;
}

.row{
  font-size: 0;
  padding: $padding 0;

  @media (min-width: $mobile) and (max-width: $desktop){
    padding: $padding-mobile 0;
  }
  @media (min-width: $desktop){
    padding: $padding-desktop 0;
  }
}

.col-inner {
  padding: $gutter-width;

  @media (min-width: $mobile) and (max-width: $desktop){
    padding: $gutter-width-mobile;
  }
  @media (min-width: $desktop){
    padding: $gutter-width-desktop;
  }
}


// Grid mixins
@mixin make-grid-columns($i: 1, $align: top, $list: ".col-xs-#{$i}, .col-lg-#{$i}") {
    @for $i from (1 + 1) through $grid-columns{
      $list: "#{$list}, .col-xs-#{$i}, .col-lg-#{$i}";
    }
    #{$list} {
      position: relative;
      display: inline-block;
      vertical-align: $align;
      font-size: $font-size;
      padding: $padding;

      @media (min-width: $mobile) and (max-width: $desktop){
        font-size: $font-size-mobile;
        padding: $padding-mobile;
      }
      @media (min-width: $desktop){
        font-size: $font-size-desktop;
        padding: $padding-desktop;
      }
    }
}

@mixin make-columns-width($class){
  @for $i from 1 through $grid-columns{
    .col-#{$class}-#{$i}{
      width: percentage(($i / $grid-columns));
    }
  }
}

@mixin make-mobile-column($class){
  @include make-columns-width($class);
}
@mixin make-desktop-column($class){
  @media (min-width: $mobile) {
    @include make-columns-width($class);
  }
}

// Call all grid mixin
@include make-grid-columns;
@include make-mobile-column(xs);
@include make-desktop-column(lg);
